{% extends './base.html' %}
{% load static %}

{%block title%}
All Applications
{%endblock%}
{%block bodyclass %}
<body id="job" onload="changeActive(this.id)">

{%endblock%}

<div class="container-fluid">
    <nav class="navbar" id="navbar2">
        <div class="nav-links">
           
 {% block subnavbar%}
 <h2>Applicants-List</h2>
 {%endblock%}
</div>     
</nav>
</div>
{% block content %}

<div class="container-fluid">
    
    <div class="job_section">
            <!-- <div class="excel-btn">
                
              
               <button  id="export-excel-btn"><img  id="excel" width=55 src="{% static 'excel.png'%}"><a href="/company/job-applications/export-excel/{{ i.job_id }}" >Download</a>
               </button>
              </div>   -->
              {%if data%}
                   
            <table id="job_list" border="1">
                <tr>
                    <!-- <th>Job Id</th> -->
                    <!-- <th><input id="check_all" type="checkbox"></th> -->
                    <th>Sr.No</th>
                    <th>Job Title</th>
                    <th>Position</th>
                    <th>Experience</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Resume</th>
                    <th colspan="2">Profile</th>
        
                </tr>
          
            {% for i in data %}
                <tr>
                    <!-- <td>{{i.job_id}}</td> -->
                    <!-- <td><input type="checkbox" name="row-check" value="{{i.job_id}}"></td> -->
                    <td>{{forloop.counter}}</td>
                    <td>{{i.job.job_title}}</td>
                    <td>{{i.job.position}}</td>
                    <td>{{i.job.experience_required}} year(s)</td>
                    <td>{{i.candidate.firstName}} {{ i.candidate.lastName}}</td>
                    <td>{{i.candidate.email}}</td>
                    <td>{{i.candidate.mobile}}</td>
                    <td><button class="btn btn-secondary" id="job-resume-btn" ><a  href="{{ i.resume_file.url }}" download>Resume</a></button>
                    </td>
                    <td> <button class="btn btn-secondary" id="job-view-btn"><a href="#">View</a></button></td>
                    <!-- <td> <button class="btn btn-secondary" id="job-delete-btn"><a href="../#" onclick="announcement_delete()">Delete</a></button></td> -->
                </tr>
                {% endfor %}
                {%else%}
               <div class="nocandidate">
                <p>No Applicants</p>
               </div> 
                {%endif%}
            </table>
      
        </div>
    
   
</div>

{%endblock%}