        <!-- <a href="{{ '/main-dashboard' }}" type="submit">Logout</a> -->
        <!-- <a href="{{ '/admin/guni/' }}" class="navbar-item" id="item-guni" >Ganpat University</a> -->
        <a href="{{ '/admins/profile/' }}" class="navbar-item" id="item-profile" >Profile</a>
        <a href="{{ '/admins/companies/' }}" class="navbar-item" id="item-companies">Companies</a>
      
        <a href="{{ '/admins/candidates/' }}" class="navbar-item" id="item-candidates">Candidates</a>

        <a href="{{ '/admins/home/' }}" class="navbar-item" id="item-home">Home</a>


