{% extends './base.html' %}
{% load static %}

{%block title%}
Employee-Home
{%endblock%}

{% block bodyclass %}
    <body id="home" onload="changeActive(this.id)">
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="search-bar">
        <input type="text" placeholder="Search">
        &nbsp;&nbsp;
        <select id="filter" name="filter">
            <option value=""  disabled selected>Filter</option>
            <option value="highlow">High-to-low</option>
            <option value="lowhigh">low-to-high</option>
          </select>
    </div>
</div>
<br>
<div class="container-fluid" id="company-content">
    <div class="content-table">
        <table class="content-row" border="1">
        <tr>
        <td>
        </td>
        <td>adadadsadaddads</td>
        </tr>
         <tr>
        <td>a</td>
        <td>b</td>
        </tr>
        </table>
        
    </div>

</div>
{% endblock %}