{% extends './base.html' %}
{% load static %}

{%block title%}
Other-Profile
{%endblock%}
{%block bodyclass %}
<body id="other" onload="changeActive(this.id)">

{%endblock%}
<div class="container-fluid">
    <nav class="navbar" id="navbar2">
        <div class="nav-links">
{% block subnavbar%}

{% include './profile_navbar.html' %}
{% endblock %}
</div>     
</nav>
</div>
{% block content %}


<div class="container-fluid">
    <br>
    <div class="card1" id="education-profile-card">
        <div class="card-body">
            <div class="educations-btns">
                <center><h3>Other-Details</h3></center><br>
                <p><button class="btn btn-secondary" id="reg-btn" onclick="window.open('../other/social')">Social Details
                </button></p>
                <!-- <p><button class="btn btn-secondary" id="reg-btn" onclick="window.open('../other/project')">Project Details
                </button></p> -->
            </div>
          
            </div>

        </div>
    </div>


{%endblock%}