{% extends './base.html' %}
{% load static %}

{%block title%}
Social-Profile
{%endblock%}
{%block bodyclass %}
<body id="other" onload="changeActive(this.id)">

{%endblock%}
<div class="container-fluid">

    <nav class="navbar" id="navbar2">
        <div class="nav-links">
{% block subnavbar%}

{% include './profile_navbar.html' %}
{% endblock %}
</div>     
</nav>
</div>
{% block content %}


<div class="container-fluid">
    <br>
    <div class="card" id="cmplt-profile-card">
        <div class="card-body">
            <div class="form-profile-group" >
                {% if social_data %}
                <p> Your {{re}} details is completed. To edit details click on Edit Details.</p>
                <p><button class="btn btn-secondary" id="personal-edit-btn">Edit {{re}}
                </button></p>
                <!-- {% elif hsc_data %}
                <p>Completed</p> -->
                {%else%}
                <form method="POST">
                    {% csrf_token %}
                    <center><h3>{{re}}-Details</h3></center><br>
                    {% for field in form %}
                            <p>{{ field }}</p>
                            {% if field.errors %}
                                <p> {{ field.errors }} </p>
                            {% endif %}
                    {% endfor %}
                    <p><input type="submit" id="reg-btn" class="btn btn-secondary" value="Submit"/></p>
                    <!-- <p><button class="btn btn-secondary" id="reg-btn">Submit -->
                    </button></p>
                </form>
               {%endif%}
            </div>

        </div>
    </div>


{%endblock%}