        <!-- <a href="{{ '/main-dashboard' }}" type="submit">Logout</a> -->
        <!-- <a href="{{ '/company/guni/' }}" class="navbar-item" id="item-guni" >Ganpat University</a> -->
        <a href="{{ '/company/profile/' }}" class="navbar-item" id="item-profile" >Profile</a>
        <a href="{{ '/company/recruitment/' }}" class="navbar-item" id="item-recruitment">Recruitment</a>
      
        <a href="{{ '/company/applications/' }}" class="navbar-item" id="item-interest">Applications</a>

        <a href="{{ '/company/home/' }}" class="navbar-item" id="item-home">Home</a>


