{% extends './base.html'%}
{% load static %}

{%block title%}
Registration
{%endblock%}

<!-- {% block bodyclass %}
    <body id="reg" onload="changeActive(this.id)">
{% endblock %} -->

{% block subnavbar%}

<h2>Registration</h2>

{% endblock %}

{% block content %}

<div class="container-fluid">
    <br>

    <div class="card">
        <div class="card-body">
            {% if num == 1 %}
            <div class="link1">
                <a href="../registration/1"  class="employee" >Employee</a>
            </div>
           <div class="link2">
            <a href="../registration/2" class="company1">Company</a>
           </div>
           {% elif num == 2 %}
           <div class="link1">
            <a href="../registration/1"  class="employee2" id="item-employee">Employee</a>
            </div>
            <div class="link2">
            <a href="../registration/2" class="company">Company</a>
            </div>
           {% endif %}
            <br>
            <br>
            <br>
            <div class="form-group" >
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><button class="btn btn-secondary" id="reg-btn">Register
                    </button></p>
                </form>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}